*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #f7f7fb;
}

body {
  display: flex;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-xxl {
  font-size: 28px;
}

.text-xl {
  font-size: 20px;
}

.text-l {
  font-size: 18px;
}

.text-m {
  font-size: 16px;
}

.text-s {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-blue-100 {
  color: #0d163a;
}

.text-blue-60 {
  color: rgba(13, 22, 58, 0.6);
}

.text-blue-50 {
  color: rgba(13, 22, 58, 0.5);
}

.main {
  max-width: 1160px;
  flex: 1;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  transition: margin-left 0.3s ease-in-out;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: auto;
}
@media only screen and (min-width: 900px) {
  .main {
    padding-top: 2rem;
    margin-left: 280px;
    padding-left: 32px;
  }
}

.main__container {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  margin: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 64px;
}
@media only screen and (min-width: 900px) {
  .main__container {
    grid-template-columns: auto auto;
  }
}

.sidebar {
  max-width: 280px;
  position: fixed;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}
.sidebar__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 35px 22px 32px 0px;
}
.sidebar__nav-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.sidebar__nav-item {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 20px 79px 20px 49px;
  cursor: pointer;
}
.sidebar__nav-item:hover .sidebar__nav-link {
  color: #0d163a;
  font-weight: 600;
}
.sidebar__nav-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.sidebar__nav-link-icon {
  width: 24px;
  height: 24px;
}
.sidebar__nav-list {
  width: 100%;
}
.sidebar__nav-bottom {
  width: 100%;
}
.sidebar__logo {
  width: 178px;
  height: 52px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media only screen and (min-width: 900px) {
  .sidebar {
    left: 0px;
  }
}

.hr-line {
  height: 1px;
  width: 219px;
  opacity: 0.3;
  background-color: #4745a4;
}

.active {
  font-weight: 600;
}

.active-indicator {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 4px;
  height: 48px;
  background-color: #4745a4;
}

.sidebar-active {
  left: 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 1rem;
}
@media only screen and (min-width: 900px) {
  .header {
    flex-direction: row;
    gap: 24px;
  }
}
.header__left {
  max-width: 722px;
  width: 100%;
  display: flex;
  justify-content: start;
}
.header__search {
  width: 100%;
  border-radius: 100px;
  padding: 20px;
  height: 54px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 900px) {
  .header__search {
    height: 64px;
  }
}
.header__search-icon {
  width: 24px;
  height: 24px;
}
.header__search-input {
  width: 90%;
  height: 36px;
  border: none;
  padding: 0.5rem;
  color: #667085;
}
.header__search-input:focus {
  outline: none;
}
.header__right {
  position: fixed;
  margin: 0 -1rem;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  height: 64px;
  padding: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 900px) {
  .header__right {
    justify-content: center;
    margin: 0;
  }
}
@media only screen and (min-width: 900px) {
  .header__right {
    position: static;
    border-radius: 100px;
    max-width: 350px;
  }
}
.header__action-box {
  max-width: 66px;
  width: 100%;
  height: 48px;
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.header__profile {
  max-width: 182px;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__profile-out-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.header__profile-in-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.header__dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn--open {
  height: 24px;
  width: 24px;
  margin: 1rem;
}
@media only screen and (min-width: 900px) {
  .btn--open {
    display: none;
  }
}

.btn--close {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media only screen and (min-width: 900px) {
  .btn--close {
    display: none;
  }
}

.overview__section, .analytics__section {
  padding: 1rem;
  background-color: #fff;
  border-radius: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}
@media only screen and (min-width: 900px) {
  .overview__section, .analytics__section {
    max-width: 717px;
  }
}
.overview__items {
  display: grid;
  grid-auto-rows: auto;
  gap: 18px;
}
@media only screen and (min-width: 600px) {
  .overview__items {
    grid-template-columns: auto auto;
  }
}
.overview__item-container {
  max-width: 333px;
  height: 165.5px;
  padding: 1.25rem;
  border-radius: 14px;
  border: 1px solid rgba(222, 222, 222, 0.7);
}
.overview__item-container:hover {
  background-color: #4745a4;
  color: white;
}
.overview__item-container:hover .overview__item-heading,
.overview__item-container:hover .overview__item-money {
  color: white;
}
.overview__item-container:hover .overview__item-subtext p {
  color: rgba(255, 255, 255, 0.6);
}
.overview__item-container:hover .overview__item-divider {
  background-color: #fff;
}
.overview__item-container:hover svg path {
  stroke: white;
}
.overview__item {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 21px;
  cursor: pointer;
}
.overview__item-top {
  max-width: 293px;
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 9px;
}
.overview__item-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.overview__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 9px;
}
.overview__item-subtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.overview__item-divider {
  min-height: 1px;
  width: 293px;
  opacity: 0.2;
  background-color: #4745a4;
}
.overview__item-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.overview__up-arrow {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.color-green {
  background-color: rgba(49, 211, 163, 0.4);
}

.color-blue {
  background-color: rgba(23, 117, 234, 0.4);
}

.color-yellow {
  background-color: rgba(249, 186, 51, 0.4);
}

.color-pink {
  background-color: rgba(254, 55, 102, 0.4);
}

.savings__section, .transaction__section {
  width: 100%;
  max-width: 365px;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  border-radius: 14px;
}
@media only screen and (min-width: 900px) {
  .savings__section, .transaction__section {
    max-width: 350px;
  }
}
.savings__heading, .transaction__heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.savings__divider, .transaction__divider {
  min-height: 1px;
  width: 317px;
  opacity: 0.2;
  background-color: #4745a4;
}
.savings__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.savings__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 14px;
  padding: 8px;
}
.savings__item-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.savings__item-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
}
.savings__item-money {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.savings__item-progress-bar {
  width: 300px;
  position: relative;
}
.savings__item-neutral-bar {
  width: 300px;
  border-radius: 100px;
  position: absolute;
  height: 8px;
  background-color: #dedede;
  z-index: 1;
}
.savings__item-color-bar {
  border-radius: 100px;
  position: absolute;
  height: 8px;
  z-index: 9;
}

.link {
  color: #4745a4;
}

.text-purple {
  color: #4745a4;
}

.text-yellow {
  color: #dd9802;
}

.text-green {
  color: #3bbb6e;
}

.blue-bar {
  width: 48%;
  background-color: #4745a4;
}

.yellow-bar {
  width: 79%;
  background-color: #f9ba33;
}

.green-bar {
  width: 32%;
  background-color: #3bbb6e;
}

.transaction__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}
.transaction__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
}
.transaction__item-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.transaction__item-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.analytics__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
@media only screen and (min-width: 600px) {
  .analytics__heading {
    flex-direction: row;
  }
}
.analytics__labels {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.analytics__label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.analytics__mark {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.analytics__filter {
  background-color: transparent;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 8px;
  color: #7c7c7c;
}
.analytics__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 18px;
}
.analytics__body-left {
  height: 100%;
}
.analytics__body-right {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 600px) {
  .analytics__body-right {
    max-width: 632px;
  }
}
.analytics__label-y, .analytics__label-x {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: #999;
  font-size: 10px;
}
@media only screen and (min-width: 600px) {
  .analytics__label-y, .analytics__label-x {
    gap: 45px;
  }
}
.analytics__label-x {
  width: 100%;
  gap: 28px;
  flex-direction: row;
}
@media only screen and (min-width: 600px) {
  .analytics__label-x {
    justify-content: space-between;
  }
}

.bg-blue {
  background-color: #4745a4;
}

.bg-yellow {
  background-color: #dd9802;
}

/*# sourceMappingURL=style.css.map */
