$color-main-bg: #f7f7fb;
$color-text-primary: #0d163a;
$color-white: #fff;
$color-blue: #4745a4;
$color-light-blue: #1775ea;
$color-green: #3bbb6e;
$color-light-green: #31d3a3;
$color-yellow: #dd9802;
$color-light-yellow: #f9ba33;
$color-pink: #fe3766;
