.main {
  flex: 1;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  transition: margin-left 0.3s ease-in-out;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: auto;

  @include respond(phone) {
    grid-area: a;
  }
  @include respond(tab-port) {
    max-width: 1040px;
  }
  @include respond(tab-land) {
    padding-top: 2rem;
    margin-left: 280px;
    padding-left: 32px;
    max-width: 1160px;
  }
}

.main__container {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  margin: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 64px;

  @include respond(phone) {
    grid-template-areas:
      "a a"
      "d d"
      "b c";
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
  }
  @include respond(tab-port) {
    grid-template-areas:
      "a b"
      "d c";
  }
}
