.btn {
  background-color: transparent;
  border: none;
}

.btn--open {
  height: 24px;
  width: 24px;
  margin: 1rem;
  @include respond(tab-land) {
    display: none;
  }
}

.btn--close {
  position: absolute;
  top: 16px;
  right: 16px;
  @include respond(tab-land) {
    display: none;
  }
}
