@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}
@mixin flexbox(
  $justifyContent: start,
  $align: start,
  $gap: 0px,
  $flexDirection: row
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $align;
  gap: $gap;
}
